# SECURISATION
AuthUserFile .htpasswd
AuthGroupFile /dev/null
AuthName "Admin"
AuthType Basic

# VISUALISATION DES DOSSIERS INTERDITE
Options -Indexes

# OPTION DU CACHING EN HTML5
AddType text/cache-manifest .manifest
