/*
	Common : General	
*/

body,ul,li {
	padding:0;
	margin:0;
	border:0;
}

body {
	font-size:12px;
	-webkit-user-select:none;
    -webkit-text-size-adjust:none;
	font-family:"Helvetica Neue";
	background-color: #3e3f43;
	overflow: hidden;
}

.clr {
	clear: left;
}

/* Prevent the grey color when tapped on touch clients */
* {
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

/*
	Common : Header
*/

#header {
	position:absolute; z-index:3;
	top:0; left:0;
	width:100%;
	height:49px;
	line-height:50px;
	background-color:#d51875;
	background-image:-webkit-gradient(linear, 0 0, 0 100%, color-stop(0, #4a515f), color-stop(1, #282c32));
	border-top: 1px solid #5f697a;
	border-bottom: 1px solid #363b44;
	padding:0;
	color:#eee;
	font-size:20px;
	-webkit-box-shadow: 0px 0px 5px #111;
}

#header #title {
	height: 50px;
	width: 60px;
	background-image: url('../assets/compressed/logo_ui.png');
	background-repeat: no-repeat;
	background-position: center center;
	left: 10px;
	margin: 0 auto;
}

#header a {
	color:#f3f3f3;
	text-decoration:none;
	font-weight:bold;
	text-shadow:0 -1px 0 rgba(0,0,0,0.5);
}

#header #search {
	position: absolute;
	display: block;
	height: 50px;
	width: 50px;
	right: 3px;
	top: 0;
	font-size: 40px;
	text-align: center;
	line-height: 40px;
	font-weight: bold;
}

/*
	Common  : Footer
*/

#footer	{
	position: absolute;
	z-index: 3;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 49px;
	background-color: #222;
	background-image:-webkit-gradient(linear, 0 0, 0 100%, color-stop(0, #4a515f), color-stop(1, #282c32));
	-webkit-box-shadow: 0 3px 9px rgba(0,0,0,6);
	border-top: 1px solid #5f697a;
	border-bottom: 1px solid #363b44;
	padding: 0;
}

#footer ul {
	display: block;
	width: 250px;
	margin: 0 auto;
	list-style: none;
	padding-left: 50px;
	padding-top: 10px;
}

#footer ul li {
	display: block;
	position: relative;
	float: left;
	width: 30px;
	height: 30px;
	background-position: center center;
	background-repeat: no-repeat;
}

#footer #cursor {
	margin-top: -19px;
	height: 12px;
	width: 21px;
	margin-left: 5px;
	-webkit-transform: translate3d(0,0,0);
	-webkit-transition: margin-left 150ms ease-in-out;
	background-image: url('../assets/compressed/row_nav_ui.png');
	background-position: center center;
}

#footer	#favs {
	background-image: url('../assets/compressed/fav_nav_ui.png');
}

#footer	#search {
	background-image: url('../assets/compressed/search_nav_ui.png');
	margin-left: 50px;
	margin-right: 50px; 
}

#footer	#info {
	background-image: url('../assets/compressed/info_nav_ui.png');
}
/*
	Content
*/

#middle {
	overflow: hidden;
	position: absolute;
	top: 51px;
	bottom: 50px;
	width: 100%;
	-webkit-transform: translate3d(0,0,0);
}

#fav-wrapper {
	display: block;
	z-index: 1;
	width:100%;
	background-image:url('../assets/compressed/main_bg_ui.png');
	position: relative;
	overflow: auto;
}

#search-wrapper {
	display: block;
	z-index: 1;
	width:100%;
	background-image:url('../assets/compressed/main_bg_ui.png');
	overflow: auto;
}

#info-wrapper {
	display: block;
	z-index: 1;
	width:100%;
	background-image:url('../assets/compressed/info_bg_ui.png');
	overflow: auto;
}

#search-wrapper #scroller {
	
}

/* Scroller */

#scroller {
	position:absolute; 
	z-index:1;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
	width:100%;
	padding:0;
}

#scroller ul {
	list-style:none;
	padding:0;
	margin:0;
	width:100%;
	text-align:left;
}

#fav-wrapper #scroller li,
#search-wrapper #scroller li {
	font-size:13px;
	background-image:-webkit-gradient(linear, 0 0, 0 100%, color-stop(0, #fff), color-stop(1, #e7e7e7));
	-webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0), 0 2px 5px rgba(0, 0, 0, 0.3e) inset, 0px 0px 0 rgba(0, 0, 0, 0), 0px 0px 0 rgba(0, 0, 0, 0);
	position: relative;
	height: 90px;
	overflow: hidden;
	-webkit-transform: translate3d(0,0,0);
}

#fav-wrapper #scroller li {
}

#scroller li .dist {
	
}

#scroller li .location {
	padding: 0px 5px 0px 5px;
}

#scroller .location .adresse {
	font-weight: bold;
	color: #585858;
	text-shadow: 0 1px 0 #dedede;
	word-break: break-word;	
	line-height: 10px;
	height: 40px;
	text-align: center;
	display: -webkit-box;
	-webkit-box-orient:horizontal;
	-webkit-box-pack:center;
	-webkit-box-align:center;
	overflow: hidden;
}

#scroller .location .adresse span {
	font-weight: bold;
	color: white;
	text-shadow: 0 1px 0 #BBB;
	background-color: #DFDFDF;
	padding: 0px 4px;
	font-size: 13px;
	-webkit-box-shadow: -1px 0px 0px white;
	-webkit-border-radius: 4px;
	margin: 0 10px 0 0;
}

#scroller .velib_status {
	width: 230px;
	height: 40px;
	position: relative;
	margin: 0 auto;
}

/* Free Velibs */

#scroller .velib_status .velib_num .sign1,
#scroller .velib_status .velib_num .sign2 {
	height: 50px;
	width: 55px;
	float: left;
	background-image: url('../assets/compressed/green_bike_ui.png');
	background-repeat: no-repeat;
	background-position: center -17px;
}

#scroller .velib_status .velib_num .green {
	background-image: url('../assets/compressed/green_bike_ui.png');
}

#scroller .velib_status .velib_num .red {
	background-image: url('../assets/compressed/red_bike_ui.png');
}


#scroller .velib_status .velib_num .flip .num1,
#scroller .velib_status .velib_num .flip .num2 {
	width: 43px;
	height: 43px;
	overflow: hidden;
	color: white;
	text-align: center;
	line-height: 43px;
	font-size: 22px;
	letter-spacing: 1px;
	padding-left: 1.5px;
	font-weight: bold;
	float: left;
	margin-left: 10px;
	background-image: url('../assets/compressed/flip_num.png');
	background-position: -15px -17px;
}



/* Free Parks*/

#scroller .velib_status .parks_num .sign1,
#scroller .velib_status .parks_num .sign2 {
	height: 50px;
	width: 55px;
	float: left;
	background-image: url('../assets/compressed/green_park_ui.png');
	background-repeat: no-repeat;
	background-position: center -16px;
	text-indent: 21px;
	line-height: 44px;
	font-size: 22px;
	font-weight: bold;
	color: white;
}

#scroller .velib_status .parks_num .green {
	background-image: url('../assets/compressed/green_park_ui.png');
}

#scroller .velib_status .parks_num .red {
	background-image: url('../assets/compressed/red_park_ui.png');
}

#scroller .velib_status .parks_num .flip .num1,
#scroller .velib_status .parks_num .flip .num2 {
	width: 43px;
	height: 43px;
	overflow: hidden;
	color: white;
	text-align: center;
	line-height: 43px;
	font-size: 22px;
	letter-spacing: 1px;
	padding-left: 1.5px;
	font-weight: bold;
	float: left;
	margin-left: 10px;
	background-image: url('../assets/compressed/flip_num.png');
	background-position: -15px -17px;
}

#scroller .add {
	position: absolute;
	height: 40px;
	width: 40px;
	background-image: url('../assets/compressed/add_ui.png');
	background-position: center -15px;
	display: block;
	right: 11px;
	top: 37px;
}

#scroller .options {
	height: 50px;
	-webkit-box-shadow: 0px 0px 7px rgba(0,0,0,0.3) inset;
	background-image: url('../assets/compressed/submenu_bg_ui.png');
	margin-top: 1px;
}

#scroller #opt_refreshf,
#scroller #opt_refreshs,
#scroller #opt_del,
#scroller #opt_up,
#scroller #opt_down,
#scroller #opt_add,
#scroller #opt_map {
	float: left;
	width: 25%;
	height: 50px;
	position: absolute;
	background-repeat: no-repeat;
	background-position: center center;
}

#scroller #opt_refreshs,
#scroller #opt_add,
#scroller #opt_map {
	width: 33.3%;
}

#scroller #opt_refreshf {
	background-image: url('../assets/compressed/refresh_ui.png');
}

#scroller #opt_add {
	background-image: url('../assets/compressed/add_ui.png');
	left: 66.6%;
}

#scroller #opt_del {
	background-image: url('../assets/compressed/del_ui.png');
	left: 25%;
}

#scroller #opt_map {
	background-image: url('../assets/compressed/map_ui.png');
	left: 33.3%;
}

#scroller #opt_up {
	background-image: url('../assets/compressed/up_ui.png');
	left: 50%;
}

#scroller #opt_refreshs {
	background-image: url('../assets/compressed/refresh_ui.png');
}

#scroller #opt_down {
	background-image: url('../assets/compressed/down_ui.png');
	left: 75%;
}

/* Content when empty */

#cosmet {
	display: -webkit-box;
	width: 100%;
	-webkit-box-orient: horizontal;
	-webkit-box-pack: center;
	-webkit-box-align: center;
	position: absolute;
	top: 51px;
	z-index: 5;
	list-style: none;
}

#cosmet ul {
	text-align: center;
	font-size: 28px;
	color: rgba(255, 255, 255, 0.19);
	text-shadow: 0px -1px 0px #010101;
	list-style: none;
}

#cosmet .add {
	background-image: url('../assets/compressed/add_home_ui.png');
	background-position: center;
	height: 80px;
	width: 80px;
	position: relative;
	margin: 0 auto;
	background-repeat: no-repeat;
}

/* Search box */

#search_box_bg {
	top: 51px;
	height: 53px;
	position: relative;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.35);
	background-image:url('../assets/compressed/main_bg_ui.png');
	z-index: 1;
	display: none;
}


#search_box {
	height: 40px;
	z-index: 100;
	position: relative;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.35);
	-webkit-box-shadow: inset 0 0 5px 5px rgba(0,0,0,0.3);
	padding-top: 12px;
}



#search_box #search_shape {
	padding: 0px 15px;
	overflow: hidden;
	-webkit-border-radius: 50px;
	background-color: rgba(0, 0, 0, 0.35);
	-webkit-box-shadow: inset 0 0 4px 4px rgba(0,0,0,0.5);
	margin: 0 10px;
	height: 29px;
	background-image: url('../assets/compressed/search_field_ui.png');
	background-position: -20px center;
	background-repeat: no-repeat;
}

#search_box #geolocate {
	width: 50px;
	height: 45px;
	position: absolute;
	right: 1px;
	top: 1px;
	background-image: url('../assets/compressed/geoloc_field_ui.png');
	background-repeat: no-repeat;
	background-position: -12px -12px;
	display: block;
}

#search_box #search {
	border: none;
	background: none;
	width: 100%;
	font-size: 15px;
	color: #7c818a;
	text-shadow: 0 1px 1px #000;
	padding-left: 20px;
	outline: none;
}

ul#search_results {

}

ul#search_results li {
	height: 80px;
	border-top: 1px solid white;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, color-stop(0, #e9eae9), color-stop(1, #f2f4f1));
	-webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0), 0 2px 5px rgba(0, 0, 0, 0.3) inset, 0px 0px 0 rgba(0, 0, 0, 0), 0px 0px 0 rgba(0, 0, 0, 0);
}

@media only screen and (max-device-width: 480px) {
/*	#scroller li {
		-webkit-backface-visibility: visible;
	}
	
	#fav-wrapper #scroller li {
		-webkit-transition: none;
	}*/
}

/*
	Information
*/

#info-wrapper #scroller {
	text-shadow: 0px 1px 0px white;
}

#info-wrapper #scroller li.title {
	color: #909492;
	text-align: center;
	font-size: 30px;
	padding: 25px 10px 0px 10px;
}

#info-wrapper #scroller li.title span {
	font-weight: bold;
}

#info-wrapper #scroller li.desc {
	padding: 0 15px;
	font-size: 16px;
	color: #1C1C1C;
}

/* Retina display css */

@media only screen and (-webkit-min-device-pixel-ratio: 2) {
	
	#header #title { 
		background-image: url('../assets/compressed/logo_ui@x2.png');
	}
	
	#cosmet .add {
		background-image: url('../assets/compressed/add_home_ui@x2.png');
	}
	
	#scroller .velib_status .velib_num .sign1,
	#scroller .velib_status .velib_num .sign2 {
		background-image: url('../assets/compressed/green_bike_ui@x2.png');
	}
	
	#scroller .velib_status .velib_num .green {
		background-image: url('../assets/compressed/green_bike_ui@x2.png');
	}
	
	#scroller .velib_status .velib_num .red {
		background-image: url('../assets/compressed/red_bike_ui@x2.png');
	}
	
	#scroller .velib_status .parks_num .sign1,
	#scroller .velib_status .parks_num .sign2 {
		background-image: url('../assets/compressed/green_park_ui@x2.png');
	}
	
	#scroller .velib_status .parks_num .green {
		background-image: url('../assets/compressed/green_park_ui@x2.png');
	}

	#scroller .velib_status .parks_num .red {
		background-image: url('../assets/compressed/red_park_ui@x2.png');
	}
	
	#scroller .add {
		background-image: url('../assets/compressed/add_ui@x2.png');
	}
	
	#scroller #opt_refreshf,
	#scroller #opt_refreshs {
		background-image: url('../assets/compressed/refresh_ui@x2.png');
	}

	#scroller #opt_del {
		background-image: url('../assets/compressed/del_ui@x2.png');
	}

	#scroller #opt_up {
		background-image: url('../assets/compressed/up_ui@x2.png');
	}

	#scroller #opt_down {
		background-image: url('../assets/compressed/down_ui@x2.png');
	}

	#scroller #opt_add {
		background-image: url('../assets/compressed/add_ui@x2.png');
	}

	#scroller #opt_map {
		background-image: url('../assets/compressed/map_ui@x2.png');
		left: 33.3%;
	}
	
	#search_box #search_shape {
		background-image: url('../assets/compressed/search_field_ui@x2.png');
	}
	
	#search_box #geolocate {
		background-image: url('../assets/compressed/geoloc_field_ui@x2.png');
	}
	
	#footer #cursor {
		background-image: url('../assets/compressed/row_nav_ui@x2.png');
	}

	#footer	#favs {
		background-image: url('../assets/compressed/fav_nav_ui@x2.png');
	}

	#footer	#search {
		background-image: url('../assets/compressed/search_nav_ui@x2.png');
	}

	#footer	#info {
		background-image: url('../assets/compressed/info_nav_ui@x2.png');
	}
	
	#scroller .velib_status .velib_num .flip .num1,
	#scroller .velib_status .velib_num .flip .num2,
	#scroller .velib_status .parks_num .flip .num1,
	#scroller .velib_status .parks_num .flip .num2 {
		background-image: url('../assets/compressed/flip_num@x2.png');
	}
	
	#header #title,
	#cosmet .add,
	#search_box #geolocate,
	#search_box #search_shape,
	#footer #cursor,
	#footer	#favs,
	#footer	#search,
	#footer	#info,
	#scroller .add,
	#scroller #opt_refreshf,
	#scroller #opt_del,
	#scroller #opt_up,
	#scroller #opt_down,
	#scroller #opt_refreshs,
	#scroller #opt_add,
	#scroller #opt_map,
	#scroller .velib_status .velib_num .sign1,
	#scroller .velib_status .velib_num .sign1,
	#scroller .velib_status .velib_num .green,
	#scroller .velib_status .velib_num .red,
	#scroller .velib_status .parks_num .sign1,
	#scroller .velib_status .parks_num .sign2,
	#scroller .velib_status .parks_num .green,
	#scroller .velib_status .parks_num .red,
	#scroller .velib_status .velib_num .flip .num1,
	#scroller .velib_status .velib_num .flip .num2,
	#scroller .velib_status .parks_num .flip .num1,
	#scroller .velib_status .parks_num .flip .num2 {
		background-size: 75px;
	}
	
	#search-wrapper,
	#fav-wrapper,
	#search_box_bg {
		background-image:url('../assets/compressed/main_bg_ui.png');	
		background-size: 128px;
	}
	
	#info-wrapper {
		background-image:url('../assets/compressed/info_bg_ui.png');	
		background-size: 128px;
	}
	
	#scroller #options {
		background-size: 4px;
	}
}
