/*
	Common : General	
*/

body,ul,li {
	padding:0;
	margin:0;
	border:0;
}

body {
	font-size:12px;
	-webkit-user-select:none;
    -webkit-text-size-adjust:none;
	font-family:"Helvetica Neue";
	-webkit-box-sizing: border-box;
	background-image:url(../assets/fiber_bg.png);
}

.clr {
	clear: left;
}

* {
	-webkit-backface-visibility: hidden;
}

/*
	Common : Header
*/

#header {
	position:absolute; z-index:3;
	top:0; left:0;
	width:100%;
	height:49px;
	line-height:50px;
	background-color:#d51875;
	background-image:-webkit-gradient(linear, 0 0, 0 100%, color-stop(0, #4a515f), color-stop(1, #282c32));
	border-top: 1px solid #5f697a;
	border-bottom: 1px solid #363b44;
	padding:0;
	color:#eee;
	font-size:20px;
	-webkit-box-shadow: 0px 0px 5px #111;
}

#header #title {
	height: 50px;
	width: 60px;
	background-image: url(../assets/ui_elements.png);
	background-repeat: no-repeat;
	background-position: 0px 4px;
	left: 10px;
	margin: 0 auto;
}

#header a {
	color:#f3f3f3;
	text-decoration:none;
	font-weight:bold;
	text-shadow:0 -1px 0 rgba(0,0,0,0.5);
}

#header #search {
	position: absolute;
	display: block;
	height: 50px;
	width: 50px;
	right: 3px;
	top: 0;
	font-size: 40px;
	text-align: center;
	line-height: 40px;
	font-weight: bold;
}

/*
	Common  : Footer
*/

#footer	{
	position: absolute;
	z-index: 3;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 48px;
	background-color: #222;
	background-image:-webkit-gradient(linear, 0 0, 0 100%, color-stop(0, #4a515f), color-stop(1, #282c32));
	-webkit-box-shadow: 0 3px 9px rgba(0,0,0,6);
	border-top: 1px solid #5f697a;
	border-bottom: 1px solid #363b44;
	padding: 0;
}

#footer ul {
	display: block;
	width: 250px;
	margin: 0 auto;
	list-style: none;
	padding-left: 50px;
	padding-top: 10px;
}

#footer ul li {
	display: block;
	position: relative;
	float: left;
	width: 30px;
	height: 30px;
	background-image: url(../assets/ui_elements.png);
	background-repeat: no-repeat;
}

#footer #cursor {
	background-position: -18px -683px;
	margin-top: -22px;
	height: 12px;
	width: 21px;
	margin-left: 5px;
	-webkit-transition: margin-left 150ms ease-in-out 150ms;
}

#footer	#favs {
	background-position: -13px -503px;
}

#footer	#search {
	margin-left: 50px;
	margin-right: 50px;
	background-position: -13px -566px;
}

#footer	#info {
	background-position: -13px -626px;
}
/*
	Content
*/

#middle {
	overflow: hidden;
	position: absolute;
	top: 51px;
	bottom: 50px;
	width: 100%;
}

#fav-wrapper {
	display: block;
	z-index: 1;
	width:100%;
	background-image:url(../assets/fiber_bg.png);
	position: relative;
	overflow: auto;
}

#search-wrapper {
	display: block;
	z-index: 1;
	width:100%;
	background-image:url(../assets/fiber_bg.png);
	overflow: auto;
}

#search-wrapper #scroller {
	
}

/* Scroller */

#scroller {
	position:absolute; 
	z-index:1;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
	width:100%;
	padding:0;
}

#scroller ul {
	list-style:none;
	padding:0;
	margin:0;
	width:100%;
	text-align:left;
}

#scroller li {
	border-bottom:1px solid #fff;
	font-size:14px;
	background-image:-webkit-gradient(linear, 0 0, 0 100%, color-stop(0, #fff), color-stop(1, #e7e7e7));
/*	-webkit-box-shadow: 0px 1px 3px #d3d3d3;*/
	-webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0), 0 2px 5px rgba(0, 0, 0, 0.3e) inset, 0px 0px 0 rgba(0, 0, 0, 0), 0px 0px 0 rgba(0, 0, 0, 0);
	position: relative;
	height: 90px;
}

#scroller li .dist {
	
}

#scroller li .location {
	padding: 0px 5px 0px 5px;
}

#scroller .location .adresse {
	font-weight: bold;
	color: #585858;
	text-shadow: 0 1px 0 #dedede;
	word-break: break-word;	
	line-height: 10px;
	height: 40px;
	text-align: center;
	display: -webkit-box;
	-webkit-box-orient:horizontal;
	-webkit-box-pack:center;
	-webkit-box-align:center;
}

#scroller .location .adresse span {
	font-weight: bold;
	color: white;
	text-shadow: 0 1px 0 #BBB;
	background-color: #DFDFDF;
	padding: 0px 4px;
	font-size: 14px;
	-webkit-box-shadow: -1px 0px 0px white;
	-webkit-border-radius: 4px;
	margin: 0 10px 0 0;
}

#scroller .velib_status {
	width: 230px;
	height: 40px;
	position: relative;
	margin: 0 auto;
}

/* Free Velibs */

#scroller .velib_status .velib_num .sign {
	height: 50px;
	width: 55px;
	float: left;
	background-image: url(../assets/ui_elements.png);
	background-repeat: no-repeat;
	background-position: 0 -67px;
}

#scroller .velib_status .velib_num .flip:before {
	content: '';
	display: block;
	z-index: 200;
	width: 2px;
	height: 15px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	background: -webkit-gradient(linear, left top, left bottom, from(black), color-stop(.35, #424242), color-stop(.52, #363636), to(black));
	border: 1px solid black;
	-webkit-box-shadow: -1px -1px 0 rgba(0, 0, 0, .2), 
						1px 1px 0 rgba(255, 255, 255, .05) inset, 
						1px 0 10px rgba(0, 0, 0, 1), 
						1px 1px 0 rgba(255, 255, 255, .06);
	float: left;
	position: relative;
	left: 14px;
	top: 11px;
}

#scroller .velib_status .velib_num .flip .num1,
#scroller .velib_status .velib_num .flip .num2 {
	width: 40px;
	height: 40px;
	overflow: hidden;
	background: #333;
	background: -webkit-gradient(linear, 30% top, 70% bottom, from(#383838), color-stop(.5, #111), to(#363636));
	-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, .1) inset, 
						0 1px 0 rgba(0, 0, 0, 1) inset, 
						0 3px 0 rgba(255, 255, 255, .2) inset, 
						0 4px 0 rgba(0, 0, 0, .75) inset, 
						0 5px 0 rgba(255, 255, 255, .2) inset, 
						0 -1px 0 rgba(255, 255, 255, .1) inset, 
						0 -2px 0 black inset, 
						0 -3px 0 rgba(255, 255, 255, .18) inset, 
						0 -5px 0 black inset, 
						0 -6px 0 rgba(255, 255, 255, .08) inset, 
						0 0 30px rgba(0, 0, 0, .3) inset;
	color: white;
	text-align: center;
	line-height: 0px;
	-webkit-border-radius: 4px;
	font-size: 22px;
	letter-spacing: 2px;
	padding-left: 2px;
	font-weight: bold;
	float: left;
	margin-left: 10px;
}

#scroller .velib_status .velib_num .flip .num1:before,
#scroller .velib_status .velib_num .flip .num2:before {
	content: '';
	display: block;
	z-index: 100;
	width: 40px;
	height: 20px;
	background: -webkit-gradient(linear, left 80%, left bottom, from(transparent), to(rgba(0, 0, 0, .4)));
	-webkit-box-shadow: 0 -1px 0 rgba(0, 0, 0, .2) inset, 0 1px 0 rgba(255, 255, 255, .04), 0 5px 100px rgba(255, 255, 255, .3);
	position: relative;
	left: -2px;
}

#scroller .velib_status .velib_num .flip .num1:after,
#scroller .velib_status .velib_num .flip .num2:after {
	content: '';
	display: block;
	z-index: 100;
	top: -9px;
	left: 35px;
	width: 2px;
	height: 15px;
	-webkit-border-radius: 3px;
	background: -webkit-gradient(linear, left top, left bottom, from(black), color-stop(.35, #424242), color-stop(.52, #363636), to(black));
	border: 1px solid black;
	-webkit-box-shadow: -1px -1px 0 rgba(0, 0, 0, .2), 1px 1px 0 rgba(255, 255, 255, .05) inset, 1px 0 10px rgba(0, 0, 0, 1), 1px 1px 0 rgba(255, 255, 255, .06);
	position: relative;
}

/* Free Parks*/

#scroller .velib_status .parks_num .sign {
	height: 50px;
	width: 55px;
	float: left;
	background-image: url(../assets/ui_elements.png);
	background-repeat: no-repeat;
	background-position: 0px -125px;
	text-indent: 21px;
	line-height: 44px;
	font-size: 22px;
	font-weight: bold;
	color: white;
}

#scroller .velib_status .parks_num .flip:before {
	content: '';
	display: block;
	z-index: 200;
	width: 2px;
	height: 15px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	background: -webkit-gradient(linear, left top, left bottom, from(black), color-stop(.35, #424242), color-stop(.52, #363636), to(black));
	border: 1px solid black;
	-webkit-box-shadow: -1px -1px 0 rgba(0, 0, 0, .2), 
						1px 1px 0 rgba(255, 255, 255, .05) inset, 
						1px 0 10px rgba(0, 0, 0, 1), 
						1px 1px 0 rgba(255, 255, 255, .06);
	float: left;
	position: relative;
	left: 4px;
	top: 11px;
}

#scroller .velib_status .parks_num .flip .num1,
#scroller .velib_status .parks_num .flip .num2 {
	width: 40px;
	height: 40px;
	overflow: hidden;
	background: #333;
	background: -webkit-gradient(linear, 30% top, 70% bottom, from(#383838), color-stop(.5, #111), to(#363636));
	-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, .1) inset, 
						0 1px 0 rgba(0, 0, 0, 1) inset, 
						0 3px 0 rgba(255, 255, 255, .2) inset, 
						0 4px 0 rgba(0, 0, 0, .75) inset, 
						0 5px 0 rgba(255, 255, 255, .2) inset, 
						0 -1px 0 rgba(255, 255, 255, .1) inset, 
						0 -2px 0 #000 inset, 0 -3px 0 rgba(255, 255, 255, .18) inset, 
						0 -5px 0 #000 inset, 0 -6px 0 rgba(255, 255, 255, .08) inset, 
						0 0 30px rgba(0, 0, 0, .3) inset;
	color: #fff;
	text-align: center;
	line-height: 0px;
	-webkit-border-radius: 4px;
	font-size: 22px;
	letter-spacing: 3px;
	padding-left: 3px;
	font-weight: bold;
}

#scroller .velib_status .parks_num .flip .num1:before,
#scroller .velib_status .parks_num .flip .num2:before {
	content: '';
	display: block;
	z-index: 100;
	width: 40px;
	height: 20px;
	background: -webkit-gradient(linear, left 80%, left bottom, from(transparent), to(rgba(0, 0, 0, .4)));
	-webkit-box-shadow: 0 -1px 0 rgba(0, 0, 0, .2) inset, 0 1px 0 rgba(255, 255, 255, .04), 0 5px 100px rgba(255, 255, 255, .3);
	position: relative;
	left: -2px;
}

#scroller .velib_status .parks_num .flip .num1:after,
#scroller .velib_status .parks_num .flip .num2:after {
	content: '';
	display: block;
	z-index: 100;
	top: -9px;
	left: 35px;
	width: 2px;
	height: 15px;
	-webkit-border-radius: 3px;
	background: -webkit-gradient(linear, left top, left bottom, from(black), color-stop(.35, #424242), color-stop(.52, #363636), to(black));
	border: 1px solid black;
	-webkit-box-shadow: -1px -1px 0 rgba(0, 0, 0, .2), 1px 1px 0 rgba(255, 255, 255, .05) inset, 1px 0 10px rgba(0, 0, 0, 1), 1px 1px 0 rgba(255, 255, 255, .06);
	position: relative;
}

#scroller .velib_status .parks_num .flip .num2:after {
	top: 10px;
	left: 209px;
	position: absolute;
}

#scroller .add {
	position: absolute;
	height: 40px;
	width: 40px;
	background-image: url(../assets/ui_elements.png);
	background-position: -9px -715px;
	display: block;
	right: 11px;
	top: 37px;
}

/* Content when empty */

#content {
	width: 100%;
	height : 100%;
	display: -webkit-box;
	-webkit-box-orient: horizontal;
	-webkit-box-pack: center;
	-webkit-box-align: center;
	text-align: center;
	font-size: 42px;
	color: rgba(255,255,255,0.19);
	text-shadow: 0px -1px 0px #010101;
	display: none;
}

/* Search box */

#search_box_bg {
	height: 52px;
	top: 51px;
	position: relative;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.35);
	background-image:url(../assets/fiber_bg.png);
	z-index: 1;
	display: none;
}


#search_box {
	height: 40px;
	z-index: 100;
	position: relative;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.35);
	-webkit-box-shadow: inset 0 0 5px 5px rgba(0,0,0,0.3);
	padding-top: 12px;
}



#search_box #search_shape {
	padding: 0px 15px;
	overflow: hidden;
	-webkit-border-radius: 50px;
	background-color: rgba(0, 0, 0, 0.35);
	-webkit-box-shadow: inset 0 0 4px 4px rgba(0,0,0,0.5);
	margin: 0 10px;
	height: 29px;
	background-image: url(../assets/ui_elements.png);
	background-position: -7px -386px;
	background-repeat: no-repeat;
}

#search_box #geolocate {
	width: 50px;
	height: 45px;
	position: absolute;
	right: 1px;
	top: 1px;
	background-image: url(../assets/ui_elements.png);
	background-repeat: no-repeat;
	background-position: 1px -433px;
	display: block;
}

#search_box #search {
	border: none;
	background: none;
	width: 100%;
	font-size: 15px;
	color: #7c818a;
	text-shadow: 0 1px 1px #000;
	padding-left: 20px;
	outline: none;
}

ul#search_results {

}

ul#search_results li {
	height: 80px;
	border-top: 1px solid white;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, color-stop(0, #e9eae9), color-stop(1, #f2f4f1));
	-webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0), 0 2px 5px rgba(0, 0, 0, 0.3) inset, 0px 0px 0 rgba(0, 0, 0, 0), 0px 0px 0 rgba(0, 0, 0, 0);
}

/* Retina display css */

@media only screen and (-webkit-min-device-pixel-ratio: 2) {
	#header #title,
	#search_box #geolocate,
	#search_box #search_shape,
	#footer #cursor,
	#footer	#favs,
	#footer	#search,
	#footer	#info,
	#scroller .add,
	#scroller .velib_status .velib_num .sign,
	#scroller .velib_status .parks_num .sign {
		background-image: url(../assets/ui_elements@x2.png);
		background-size: 59px;
	}
	
	body,
	#search-wrapper,
	#fav-wrapper,
	#search_box_bg {
		background-image:url(../assets/fiber_bg.png);	
		background-size: 128px;
	}
}